.title {
  font-size: 3.5rem;
  color: var(--color-title);
}
.choose-section {
  width: 100%;
  border-top: 2px solid var(--inner-container-border);
  border-bottom: 2px solid var(--inner-container-border);
  padding: 20px 0;
}
.choose-title {
  color: var(--inner-title);
  letter-spacing: 1px;
}
.choose {
  margin: 25px 0;
  width: 100%;
  justify-content: space-around;
  padding: 10px;
  gap: 5px;
  font-size: 4rem;
  display: flex;
  position: relative;
  background-color: var(--body-bg);
  box-shadow: 0 0px 10px var(--dark-box-shadow);
  border-radius: 10px;
}
.X,
.O {
  display: grid;
  place-items: center;
  padding: 10px 0;
  width: 50%;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 4;
}
.X {
  color: var(--x-color);
}
.O {
  color: var(--o-color);
}
.user-choose {
  position: absolute;
  height: 80%;
  width: 47%;
  top: 10%;
  transition: 0.3s;
  transform: translate(-50%);
  z-index: 2;
  border-radius: 5px;
  background-color: var(--transparent-bg);
}
.user-choose.active {
  transform: translate(50%);
}
.remember {
  font-size: 1.5rem;
  color: var(--info-color);
}
.actions {
  width: 100%;
}
.btn {
  font-size: 2rem;
  padding: 20px;
  width: 100%;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-family: "Asap", sans-serif;
  cursor: pointer;
  transition: 0.3s;
  background-color: var(--body-bg);
  box-shadow: 0 0 10px var(--dark-box-shadow);
  text-transform: uppercase;
  line-height: 1;
  color: var(--btn-color);
}
.btn:hover {
  filter: brightness(120%);
}
@media (min-width: 600px) {
  .container {
    width: 500px !important;
  }
}
@media (max-width: 400px) {
  .container {
    width: 100% !important;
    border-radius: 0 !important;
  }
}
